<%- include('header') -%>
<%- include('heading') -%>
<div class="box">
  <h1 class="center">About this List</h1>
  <p class="center white">Something something something about this list. It's just a mini project, something to get my gears flowing and going. Juicing it on up web dev style.</p>
</div>
<%- include('footer') -%>